/*html, body {
 overflow: hidden;
}
*/
body {
  font-family: 'Source Sans Pro', sans-serif;
  color:#333333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Source Sans Pro', sans-serif;
}
h1{
  font-size:52px;
  font-weight: bold;
}

h2{
  font-size: 30px;
  font-weight: normal;
  margin-bottom: 5px;
}
p{
  font-size: 18px;
  line-height: 20px;
  font-weight: 100;
}

/*****GRID******/

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  position: relative;
}

.container:before,
.container:after {
  content: " ";
  display: table;
}

.container:after{
  clear:both;
}
.one-half, .one-third {
  width: 96%;
  float:left;
  position: relative;
  min-height: 1px;
  margin: 0 2% 20px;
}






@media (min-width: 768px){
  .container {
    width: 750px;
  }

@media (min-width: 992px){
  .container{
    width: 970px;
  }

  .one-half {
    width: 46%;
  }
  .one-third{
    width: 29.33333%;
  }
  .one-fourth{
    width: 21%;
  }
}

@media (min-width: 1200px){
  .container {
    width:1170px;
  }
}

@media (min-width: 1920px){
  .container {
    width:1877px;
  }
}

/**** HEADER *****/

header {
  color:#fff;
  background: #34495e;
  background-image: linear-gradient(206deg, #5f81a3 0%, #34495e  100%);

}

header nav {
  padding: 1em 0;
}

header nav ul {
  display: inline;
  text-align: right;
  float: right;
  margin: 0;
}

header nav ul > li {
  list-style-type: none;
  display: inline-block;
  margin: 0 15px;
}

header nav ul > li.btn-outline {
  padding: 10px 15px;
  border:2px solid #fff;
  border-radius: 4px;
}

header nav ul >li.btn-outline:hover {
  background: #fff;
}

header nav ul > li > a {
  color: #fff;
  text-decoration: none;

}

header nav ul > li.btn-outline:hover > a {
  color: #34495e;
}

header .hero {
  text-align: center;
  display: block;
  position: relative;
}
header .hero h1 {
  font-size: 48px;
  font-weight: normal;
  margin:95px 0 0;

}

header .hero p{
  font-size: 22px;
  line-height: 26px;
  font-weight: 100;
  margin: 10px 0 40px;
}

header .hero img {
  display: block;
  margin:3em auto 0;
}

/**** BUTTONS *****/

.btn {
  border-radius: 4px;
  color:#fff;
  font-weight: 700;
  text-decoration: none;
  padding: 10px 30px;
  background: #2ecc71;
  border: 2px solid #2ecc71;
  box-shadow: 0px 2px 0px 0px #22894e;
}











/****Slider*****/

@import url(https://fonts.googleapis.com/css?family=Oswald);


#slider {
  position: relative;
  overflow: hidden;
  margin: 30px auto 0 auto;
  border-radius: 4px;
}

#slider blockquote {  
  max-width: 60%;
  text-align: justify;
  margin: 0 auto;


}

#slider img{
  margin-top: 25px;
  border-radius: 50%;
}

#slider ul {
  position: relative;
  margin: 0;
  padding: 0;
  height: 200px;
  list-style: none;
}

#slider ul li {

  position: center;
  display: block;
  float: left;
  margin: 0;
  padding: 0;
  width: 500px;
  height: 300px;
  background: #ccc;
  font-size: 18px;
  text-align: center;
  line-height: 300px;
}

a.control_prev, a.control_next {
  position: absolute;
  top: 40%;
  z-index: 999;
  display: block;
  padding: 4% 3%;
  width: auto;
  height: auto;
  background: #2a2a2a;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 18px;
  opacity: 0.8;
  cursor: pointer;
}

a.control_prev:hover, a.control_next:hover {
  opacity: 1;
  -webkit-transition: all 0.2s ease;
}

a.control_prev {
  border-radius: 0 2px 2px 0;
}

a.control_next {
  right: 0;
  border-radius: 2px 0 0 2px;
}

.slider_option {
  position: relative;
  margin: 10px auto;
  width: 160px;
  font-size: 20px;
}


